WindowsServiceHost/WindowsServiceHost/Service References/SvcComponentConfig/SvcComponentConfig3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DKK.WindowsServiceComponentConfig.v1" elementFormDefault="qualified" targetNamespace="DKK.WindowsServiceComponentConfig.v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1739/SvcComponentConfig.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1739/SvcComponentConfig.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetEnvironments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnvironmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEnvironmentsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnvironmentConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="environment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnvironmentConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetEnvironmentConfigResult" nillable="true" type="q2:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>