WindowsServiceHost/WindowsServiceHost/Service References/SvcHostConfig/SvcHostConfig1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DKK.WindowsServiceHostConfig.v1" elementFormDefault="qualified" targetNamespace="DKK.WindowsServiceHostConfig.v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2121/SvcHostConfig.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetConfigResult" nillable="true" type="q1:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>