WindowsServiceHost/ConsoleEventWatcher/Service References/SvcComponentConfig/SvcComponentConfig1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="DKK.WindowsServiceComponentConfig.v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="DKK.WindowsServiceComponentConfig.v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="DKK.WindowsServiceComponentConfig.v1/Imports">
      <xsd:import schemaLocation="http://localhost:1739/SvcComponentConfig.svc?xsd=xsd0" namespace="DKK.WindowsServiceComponentConfig.v1" />
      <xsd:import schemaLocation="http://localhost:1739/SvcComponentConfig.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1739/SvcComponentConfig.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1739/SvcComponentConfig.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvcComponentConfig_GetEnvironments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnvironments" />
  </wsdl:message>
  <wsdl:message name="ISvcComponentConfig_GetEnvironments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnvironmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcComponentConfig_GetEnvironmentConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnvironmentConfig" />
  </wsdl:message>
  <wsdl:message name="ISvcComponentConfig_GetEnvironmentConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnvironmentConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="ISvcComponentConfig">
    <wsdl:operation name="GetEnvironments">
      <wsdl:input wsaw:Action="DKK.WindowsServiceComponentConfig.v1/ISvcComponentConfig/GetEnvironments" message="tns:ISvcComponentConfig_GetEnvironments_InputMessage" />
      <wsdl:output wsaw:Action="DKK.WindowsServiceComponentConfig.v1/ISvcComponentConfig/GetEnvironmentsResponse" message="tns:ISvcComponentConfig_GetEnvironments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnvironmentConfig">
      <wsdl:input wsaw:Action="DKK.WindowsServiceComponentConfig.v1/ISvcComponentConfig/GetEnvironmentConfig" message="tns:ISvcComponentConfig_GetEnvironmentConfig_InputMessage" />
      <wsdl:output wsaw:Action="DKK.WindowsServiceComponentConfig.v1/ISvcComponentConfig/GetEnvironmentConfigResponse" message="tns:ISvcComponentConfig_GetEnvironmentConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>